@import 'utils/variables';
@import 'components/type';

* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    overflow-x: hidden;
  }

p {
    color: #fafafa;
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    width: 33.688rem;
    padding: 0.625rem;
    border-radius: 0.313rem;
    background-color: rgb(255, 255, 255, 0);
    backdrop-filter: blur(0.625rem);
}

.parallax {
    height: 100vh;
    overflow: hidden;
}
  
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: transform;
  }
  
.layer-back {
    background-image: url('../assets/images/back.png');
    z-index: 1;
  }
  
.layer-middle {
    background-image: url('../assets/images/second_layer.png');
    z-index: 2;
  }
  
.layer-front {
    background-image: url('../assets/images/first_layer.png');
    z-index: 4;
  }

.title--big {
    color: #000; 
    font-family: "Norse-Bold";
    font-size: 12.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 20%;
    width: 100vw;
    text-align: center;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
  }

.section-divider {
  position: absolute;
  top: -1rem;
  left: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 1000;
  background-color: #006dd4;
  padding: 1rem 0;
  pointer-events: none;
  box-shadow: 0rem 0rem 2rem rgb(0, 96, 170);
  span {
    font-family: "Rurikviking";
    font-size: 2.5rem;
    color: #0070d9;
    mix-blend-mode: color-dodge;
  }
  &__bg {
    background-image: url(../assets/images/section-divider-bg.png);
    background-size: cover; 
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
  }
}

.chapter--first {
  position: relative;
}

.chapter--first__text01 {
    position: relative;
    height: 100vh;
    background-image: url(../assets/images/chapter_first_01.png);
.div--full {
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}

.chapter--first__text01 {
    background-image: url(../assets/images/chapter_first_01.png);
    

    p {
        margin: 0 17% 10% 0;
    }
}

.chapter--first__text02 {
    position: relative;
    height: 100vh;
    background-image: url(../assets/images/chapter_first_02.png);

    p {
        margin: 0 8% 15% 0;
    }
    
}

.chapter--two__text01 {
    background-image: url(../assets/images/chapter_two_01.png);
    transform: scaleX(-1);

    p{
        transform: scaleX(-1);
        margin: 0 5% 15% 0;
    }
}

.chapter--two__text02 {
    background-image: url(../assets/images/chapter_to_02.png);

    p{
        margin: 0 8% 15% 0;
    }
}

.chapter--four__text01{
    background-image: url(../assets/images/chapter_four_01.png);
    align-items: flex-start;

    p{
        margin: 3% 7% 0 0 ;
        color: #000;
    }
}

.chapter--three__text01 {
    background-image: ;
}
